* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #111827;
    color: #fff;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover,
.menu li.active {
    background: #1f2937;
}

/* CONTENT */
.content {
    flex: 1;
    background: #f9fafb;
    padding: 30px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

/* BOX CHỨA NỘI DUNG */
.box {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    min-height: 200px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
